<%= stylesheet_link_tag "application" %>

<h1> Página com infos daoronas </h1>
<%= link_to 'ONGs que podem te ajudar', controller: 'ong' %>
<%= link_to 'Página com infos sobre documentos', controller: 'documentos' %>
