
<div class="container">
<h1>Lista de ONGs</h1>
<div class="container">
<p><a href="https://bibliaspa.org/">BibliASPA</a></p>
<p>Texto sobre o principal que tem na BibliASPA</p>
<p>Alguma imagem</p>
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
<p>R. Baronesa de Itu, 639 - Santa Cecilia - São Paulo - SP - 01231-001</p>
</div>

<div class="container">
<p><a href="http://caritas.org.br/">Cáritas</a></p>
<p>Texto sobre a Caritas</p>
<p>Alguma imagem</p>
<div style='width: 800px;'>
  <div id="map2" style='width: 800px; height: 400px;'></div>
</div>
<p>R. José Bonifácio, 107 - Sé -  São Paulo - SP -  01002-000</p>
</div>

<script src="//maps.google.com/maps/api/js?key=AIzaSyCznRHAsEHKjqQCL-w13gmxmwYmPTNRSNQ "></script>
<script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
<script lang='ruby'>
handler = Gmaps.build('Google');
handler.buildMap({
    provider: {
      disableDefaultUI: false
    },
    internal: {
      id: 'map'
    }
  },
  function(){
  markers = handler.addMarkers([
    {
      "lat": -23.5389542,
      "lng": -46.6592144,
      "infowindow": "BibliASPA"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.getMap().setZoom(18);
});

handler2 = Gmaps.build('Google');
handler2.buildMap({
    provider: {
      disableDefaultUI: false
    },
    internal: {
      id: 'map2'
    }
  },
  function(){
  markers = handler2.addMarkers([
    {
      "lat": -23.5490814,
      "lng": -46.6356417,
      "infowindow": "BibliASPA"
    }
  ]);
  handler2.bounds.extendWith(markers);
  handler2.fitMapToBounds();
  handler2.getMap().setZoom(18);
});
</script>
>>>>>>> master
