
<div class="container">
<h1>Lista de ONGs</h1>


<div class="container">
<p><a href="https://bibliaspa.org/">BibliASPA</a></p>
<p>Texto sobre o principal que tem na BibliASPA</p>
<p>Alguma imagem</p>
<p>Link pra Mapa</p>
<p>Contato</p>
</div>


<div class="container">
<p><a href="http://caritas.org.br/">Cáritas</a></p>
<p>Texto sobre a Caritas</p>
<p>Alguma imagem</p>
<p>Link pra Mapa</p>
<p>Contato</p>
</div>
</div>